<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BraveInfoMapper" >
    <resultMap id="BaseResultMap" type="com.spring.entity.BraveInfo" >
        <id column="braveId" property="brave_id" jdbcType="VARCHAR" />
        <result property="resourceANum" column="resource_a_num" jdbcType="DOUBLE" />
        <result property="resourceBNum" column="resource_b_num" jdbcType="DOUBLE" />
        <result property="damage" column="damage" jdbcType="DOUBLE"/>
        <result property="grade" column="grade" jdbcType="INTEGER" />
        <result property="histroyLevel" column="histroy_level" jdbcType="INTEGER" />
        <result property="histroyLevelTime" column="histroy_level_time" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        brave_id,
        resource_a_num,
        resource_b_num,
        damage,
        grade,
        histroy_level,
        histroy_level_time
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM brave_info
    </select>

    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM brave_info
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.spring.entity.BraveInfo" >
        INSERT INTO
        brave_info
        (brave_id,
        resource_a_num,
        resource_b_num,
        damage,
        grade,
        histroy_level,
        histroy_level_time)
        VALUES
        (#{braveId},
        #{resourceANum},
        #{resourceBNum},
        #{damage},
        #{grade},
        #{histroyLevel},
        #{histroyLevelTime})
    </insert>

    <update id="update" parameterType="com.spring.entity.BraveInfo" >
        UPDATE
        brave_info
        SET
        <if test="braveId != null">brave_id = #{braveId},</if>
        <if test="resourceANum != null">resource_a_num = #{resourceANum},</if>
        <if test="resourceBNum != null">resource_b_num = #{resourceBNum},</if>
        <if test="damage != null">damage = #{damage},</if>
        <if test="grade != null">grade = #{grade},</if>
        <if test="histroyLevel != null">histroy_level = #{histroyLevel},</if>
        <if test="histroyLevelTime != null">histroy_level_time = #{histroyLevelTime},</if>
        WHERE
        brave_id = #{braveId}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        DELETE FROM
        brave_info
        WHERE
        brave_id =#{braveId}
    </delete>
</mapper>